<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <div id="app">
        <p>{{message}}</p>
    </div>

    <div v-html="rawHtml" id="rawHtml">

    </div>

    <div id="classBind" class="static" v-bind:class="classObject">this is for class bind</div>

    <div id="toggle">
        <template v-if="loginType === 'username'">
            <label>Username</label>
            <input placeholder="Enter your username" key="username-input">
        </template>
        <template v-else>
            <label>Email</label>
            <input placeholder="Enter your Email" key="email-input">
        </template>
        <br>
        <button v-on:click="toggleLoginType">Toggle login type</button>
    </div>
    <br>
    <div id="todo-list-example">
        <input
            v-model="newTodoText"
            v-on:keyup.enter="addNewTodo"
            placeholder="add a todo">

        <ul>
            <li
                is="todo-item"
                v-for="(todo,index) in todos"
                v-bind:title="todo"
                v-on:remove="todos.splice(index,1)"
            >

            </li>
        </ul>
    </div>
    <br>
    <div id="vModel">
        <span>Multiline msaage is:</span>
        <p style="white-space:pre">{{message}}</p>
        <br>
        <textarea v-model="message" placeholder="add multiple lines"></textarea>
    </div>
    <br>
    <div id="mutilCheck">
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <br>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <br>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>
    </div>
    <br>
    <div id="radio">
        <input type="radio" id="one" value="One" v-model="picked">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ picked }}</span>
    </div>

    <br>
    <div id="select">
        <select v-model="selected">
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>Selectrd:{{selected}}</span>
    </div>
</body>
<script src="../static/vue.js"></script>
<script src="../static/app.js"></script>
</html>